<div class="container">
	<% if @users %>

		<% @users.each do |user| %>
			<%= user.name %> - <%= user.email %> <br>
		<% end %>

	<% else %>

		<p>Welcome</p>

	<% end %>
  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>
